* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.error {
    color: red;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: gray solid 2px;
    border-radius: 10px;
    padding: 100px;
    display: block;
}

.container form {
    display: inline-block;
    text-align: left;
    width: 100%;
}

.container form div {
    margin-bottom: 10px;
}

